html, 
body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
	margin: 0;
}
input[type="submit"],
button,
.btnOutline {
	outline: none;
	cursor: pointer;
}
h2 {
  line-height: 35px;
}
ul,
li {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #0775d2;
}
a:hover,
.menu_item > div > a:hover,
.menu_item > a:hover,
ul.submenu > li > a:hover,
ul.top_menu__list > li > a:hover,
.header__mobile_menu a:hover {
	color: #00BFFF;
}

li {
	list-style: none;
}

.t-left {
	text-align: left;
}

.t-right {
	text-align: right;
}

.t-center {
	text-align: center;
}

.t-top {
	padding-top: 1em;
}

.text_white {
	color: #fff;
}

.padding-title {
	padding: 3.375rem 0;
}

.row {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}
.m-top {
	margin-top: 4em;
}
.menu {
	background:rgba(0,0,0,.9);
	padding: 0.7em 0;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:5011;
}

.menu_item > a,
.menu_item > div > a {
	color: #fff;
	font-size: 16px;
}

.icon_phone {
	height: 28px;
  margin-right: 14px;
}

.header {
	background-size: cover;
}

.field_search {
	border: 1px solid #eef1f7; 
	border-radius: 5px;
	padding: 0.56em 1em;
	vertical-align: top;
}

.sumbit_search {
	background: url("../images/btSearch.png") no-repeat center top;
	border:none;
	width: 180px;
	height: 37px;
	cursor: pointer;
	margin-left: 1.5em;
}

.header__button_menu {
	padding-top: 0.5em;
}

.header__menu_sandwich {
	position: relative;
	float: right;
	cursor: pointer;
	z-index: 3;
}

.header__menu_cancel {
	float: right;
	display: none;
}
.header__menu__size_icons {
	width: 24px;
}


.header__mobile_menu {
	display: none;
	background: rgba(0, 0, 0, .95);
	position: absolute;
	z-index: 5010;
	width: 275px;
	top: 2.5em;
	right: 0;
}

.header__mobile_menu li{
	display: block;
	text-align: left;
	margin: 1em;
}

.header__mobile_menu a {
	color: #fff;
	font-size: 1em;
	text-decoration: none;
	padding: 0.5em;
	border-radius: 0.4em; 
}

.header__head,
.footer__items,
.menu_items,
.payment_methods__items {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__head_field_search {
	display: inline-flex;
	flex-grow: 2;
    justify-content: center;
}
.header__head_items_menu {
	position: relative;
	visibility: hidden;
}
.header__head_items_menu_top {
	position: relative;
}
.header__magnifer {
	padding-right: 25px;
}

.text {
	text-align: justify;
	line-height: 20px;
}

.text__title {
	font-size: 1.5em;
}

.footer {
	background: #333;
}

.footer__items_text {
	letter-spacing: 1.5px;
	line-height: 24px;
}

.footer__items_block {
	width: 25%;
}
.footer__items_block_text {
	width: 48%;
}

.footer__items_block_customer {
	text-align: right;
}

.button__cost {
	width:100%;
	padding-top: 4px;
	display: block;
}
.button__cost__item {
	margin: 0 auto;
	background: #FF0000;
	width: 191px;
	padding: 8px;
	border-radius: 8px;
	border: none;
}

.cost__link {
	color: #fff;
	font-size: 0.875em;
    font-weight: 700;
}

.contacts {
	padding-left: 0.5em;
}

.item__contacts {
	border-bottom: 1px solid #fff;
}

.payment_methods {
	padding-bottom: 2rem;
}

.payment_methods__items_padding {
	padding-bottom: 1.375rem;
}

.blue__title {
	color: #074481;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 auto;
}
.blue__title_demo {
  color: #074481;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}
.header_title {
	font-size: 2.1em;
    font-weight: 300;
    color: #074481;
    padding-top: 20px;
    margin: 0 auto;
}
.padding_text {
	padding-top: 2em;
}
.text_contacts {
	font-weight: 700;
	font-size: 1.5em;
}
.text_bold {
	font-weight: 700;
}

.top_menu__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.top_menu__list:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
.top_menu__list > li {
    float: left;
    position: relative;
}
.top_menu__list > li > a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
}

.top_menu__list > .submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid red;
}
.top_menu__list > .submenu > li {
    display: block;
}
.top_menu__list > .submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
.top_menu__list > .submenu > li > a:hover {
    text-decoration: underline;
}

.top_menu__list > li:hover > .submenu {
    display: block;
}

ul.top_menu__list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.top_menu__list:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.top_menu__list > li {
    float: left;
    position: relative;
}
ul.top_menu__list > li > span {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
ul.submenu {
    display: none;
    position: absolute;
	top: 40px;
    left: 0;
}
ul.submenu > li {
    display: block;
    background: rgba(0,0,0,.9);
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
ul.top_menu__list > li:hover > ul.submenu {
    display: block;
}
.top_menu__list__margin_top {
	margin-top: 19px;
}
.top-header__phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header__phone a {
  font-size: 22px;
}
.top-menu__phone {
  font-size: 24px !important;
}
.pb10 {
  padding-bottom: 10px;
}
.footer__paragraph {
  color: #fff;
  font-size: 18px;
  padding: 0;
  margin: 0;
  padding-bottom: 12px;
}
.footer__link {
  color: #fff;
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	cursor: default;
	overflow: auto;
	-webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
	box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}
.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}
.autocomplete-no-suggestion {
	padding: 2px 5px;
}
.autocomplete-selected {
	background: #F0F0F0;
}
.autocomplete-suggestions strong {
	font-weight: bold;
	color: #000;
}
.autocomplete-group {
	padding: 2px 5px;
}
.autocomplete-group strong {
	font-weight: bold;
	font-size: 16px;
	color: #000;
	display: block;
	border-bottom: 1px solid #000;
}
.header__head_items_search {
	display: inline-flex;
	flex-grow: 0.8;
}
.btnDownload {
	background: red;
	color: white;
	border: none;
	padding: 9px 16px;
}

.form__blue__title {
    color: #074481;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 auto;
    padding-bottom: 1em;
}
.padding_li {
	padding-top: 1em;
}

.iblock {
    padding: 10px;
    border-bottom: 1px dashed #999;
}

.iblock span {
	width:200px;
	display:inline-block;
	font-weight:bold;
}

.subitem {
    padding-left: 50px;
    padding-top: 10px;
}
.list__type-zakaz {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.type-zakaz__first,
.type-zakaz__second,
.type-zakaz__third {
  position: relative;
  display: inline-block;
  padding-left: 25px;
}

.type-zakaz__first:after {
  display: block;
  content: ' ';
  background-image: url('/resources/images/settings.svg');
  background-size: 18px 18px;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 0;
  top: -1px;
}
.type-zakaz__second:after {
  display: block;
  content: ' ';
  background-image: url('/resources/images/graduate.svg');
  background-size: 18px 18px;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 0;
  top: -1px;
}
.type-zakaz__third:after {
  display: block;
  content: ' ';
  background-image: url('/resources/images/open-book.svg');
  background-size: 18px 18px;
  height: 18px;
  width: 18px;
  position: absolute;
  top: -1px;
  left: 0;
}

.pager{
	padding:0;
	min-height:25px;
	margin-top:20px;
}
.pager a{
	color:#006fc4;
	padding:5px;
}
.pager a:active{
	padding:5px;
	background-color: #FFDABB;
}

.pager a:hover{
	padding:5px;
	color: #000;
	background-color: #FFDABB;
}

ins {
    text-decoration: none;
    display: block;
}
table.rditems td {
    padding: 7px 7px 7px 0px;
    border-bottom: dashed 1px #999;
}

h2 {
	color: #074481;
}
.menu_item__padding_top {
	padding: 10px;
}
.menu__mobile__item_allocate {
	background: #fff;
	border-radius: 8px;
	padding: 5px 0;
}
.menu__mobile__link_allocate {
	color: black !important;
	font-weight: 700;
}

span.error, small.error {
	color: #fff !important;
  display:none !important;
}

span.error_popup, small.error_popup {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: normal;
  background: #c60f13;
  color: #fff !important;
}
.similar_reports {
	font-size: 1em;
	font-weight: 700;
	color: #074481;
	padding: 2em 0 1em 0;
}
ul.likework > li,
.td_padding td{
	padding-bottom: 10px;
}
.form_table td {
    /*border-bottom: dashed 1px #dddddd;*/
    padding-top: 10px;
    padding-bottom: 10px;
}
.table__contact-details input[type="text"] {
  margin-bottom: 30px !important;
  height: 45px !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mt2 {
  margin-top: 2em;
}
.mb2 {
  margin-bottom: 2em;
}

.table__contact-details td {
  padding: 0 !important;
}
.flex-form_left,
.flex-form_right {
  width: 45%;
}
.flex-form {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.flex-form__info {
  display: flex;
  margin-top: 1em;
  align-items: center;
}
.flex-form__info__img {
  padding-right: 40px;
}
.flex-form__info__text {
  width: 70%;
}
.bg_blue {
  background: #ecf6fd;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #fff;
}
.border-bottom {
  border-bottom: 1px solid #ecf6fd;
  padding-left: 10px;
}
.border_for_block {
  border: 1px solid #4785b0;
  padding:0 10px;
  box-shadow: 0 0 5px rgba(71,133,176,0.5);
}
.header__magnifer_second {
	display: none;
	position: absolute;
	right: 5%;
}
#out-inner{
	position: fixed;
	left:0px;
	top: 0;
	width: 100%;
	height: 10px;
	z-index: 10000;
}
.close-reveal-modal {
	position: absolute;
  top: 10px;
  right: 30px;
  font-size: 35px;
}
#Popup-exit{
	line-height: 25px;
}
#Popup-exit h2{
	margin: 0;
	padding: 0;
	line-height: 25px;
}
.boxinfo {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #eee;
  text-align: center;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 0px 0px 5px #000000;
  -webkit-box-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
}

.reveal-modal-bg {
  background: #000000;
  background: rgba(0, 0, 0, 0.45);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5104;
  left: 0; }

.reveal-modal {
  border-radius: 3px;
  display: none;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 5105;
  left: 0;
  background-color: #FFFFFF;
  padding: 1.875rem;
  border: solid 1px #666666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 40em) {
    .reveal-modal {
      min-height: 100vh; } }
  .reveal-modal .column, .reveal-modal .columns {
    min-width: 0; }
  .reveal-modal > :first-child {
    margin-top: 0; }
  .reveal-modal > :last-child {
    margin-bottom: 0; }
  @media only screen and (min-width: 40.0625em) {
    .reveal-modal {
      left: 0;
      margin: 0 auto;
      max-width: 62.5rem;
      right: 0;
      width: 80%; } }
  @media only screen and (min-width: 40.0625em) {
    .reveal-modal {
      top: 6.25rem; } }
  .reveal-modal.radius {
    box-shadow: none;
    border-radius: 3px; }
  .reveal-modal.round {
    box-shadow: none;
    border-radius: 1000px; }
  .reveal-modal.collapse {
    padding: 0;
    box-shadow: none; }
  @media only screen and (min-width: 40.0625em) {
    .reveal-modal.tiny {
      left: 0;
      margin: 0 auto;
      max-width: 62.5rem;
      right: 0;
      width: 30%; } }
  @media only screen and (min-width: 40.0625em) {
    .reveal-modal.small {
      left: 0;
      margin: 0 auto;
      max-width: 62.5rem;
      right: 0;
      width: 40%; } }
  @media only screen and (min-width: 40.0625em) {
    .reveal-modal.medium {
      left: 0;
      margin: 0 auto;
      max-width: 62.5rem;
      right: 0;
      width: 60%; } }
  @media only screen and (min-width: 40.0625em) {
    .reveal-modal.large {
      left: 0;
      margin: 0 auto;
      max-width: 62.5rem;
      right: 0;
      width: 70%; } }
  @media only screen and (min-width: 40.0625em) {
    .reveal-modal.xlarge {
      left: 0;
      margin: 0 auto;
      max-width: 62.5rem;
      right: 0;
      width: 95%; } }
  .reveal-modal.full {
    height: 100vh;
    height: 100%;
    left: 0;
    margin-left: 0 !important;
    max-width: none !important;
    min-height: 100vh;
    top: 0; }
@media only screen and (min-width: 40.0625em) {
      .reveal-modal.full {
        left: 0;
        margin: 0 auto;
        max-width: 62.5rem;
        right: 0;
        width: 100%;
    }
}
.button1 {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 250px;
  padding: 8px 50px;
  text-decoration: none;
  margin-bottom: 30px;
}
.toc_list ul {
    margin-left: 1.5em;
}

.types_of_practice li{
    list-style: disc;
}
.types_of_practice{
    padding-left: 40px;
}
.report_structure li{
    list-style: decimal;
    padding: 5px 0;  
}

.portfolio__list,
.porfolio__list_items {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.you_can__info,
.portfolio__list {
  align-items: center;
}
.porfolio__list_items {
  width: 33.3333%;
}

.portfolio__list__name {
  flex: 4 1;
  padding-bottom: 1.55em;
  text-align: left;
}

.portfolio__list__icons {
  flex: 1 1;
  padding-bottom: 1.55em;
}

@media screen and (max-width: 800px) {
  .porfolio__list_items {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .list__type-zakaz {
    flex-wrap: wrap;
    justify-content: start;
  }
  .list__type-zakaz a{
    width: 100%;
  }
  .list__type-zakaz a:not(:last-child){
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 515px) {
  .porfolio__list_items {
    width: 100%;
  }
}

